body{
	background-color: darkgray;
	
	margin:0;
}

header{
	font-size:3vmin;
	color:#FFFFFF;
	background-color: #284b63;
	padding: 3.4vmin 0;
	text-align:center;
	border-radius: 15px;
}

.row{
	display: table-row;
}

.fields{
	font-size:1.5vmin;
	width:800px;
	margin:auto;
}

.scoresInfo{
  background:#549DA0;
	border-radius: 15px 0px 0px 15px;
  color:#FFFFFF; 
	text-align:center;
	display: table-cell;
	width:30%;
	vertical-align: top;
}

.canvas{
	display: table-cell;
	padding: 0;
	margin:0;
}

#canvasId{
	margin:0;
}

.info{
	background:#ffffff;
	color:#000000;
	text-align:center;
	border-radius: 0px 15px 15px 0px;
	display: table-cell;
	width:30%;
	vertical-align: top;
}

footer{
	border-radius: 15px;
	font-size:2vmin;
  background: #353535;
	color:#868686;
  padding:2vmin 0;
  text-align: center;
}

#canvasNextFigureId {
  background-color: black
}

