body{
	width: 100%;
	height:100%;

	margin:0;

	background-color: darkgray;
}

header,footer{
	width:100vmin;
	height: 4vmin;

	padding: 1vmin 0;
	margin:auto;

	font-size:1vmin;

	color:#FFFFFF;
	background-color: #284b63;
	
	text-align:center;
	border-radius: 2vmin;
	
}

header{
	color:#FFFFFF;
	background-color: #284b63;
}

header h1,footer h1{
	margin:0;
	margin-block: 0;
	
}

footer h1{
padding: 0.1vmin;
line-height:  4vmin;
}

.row{
	border-spacing: 0vmin;
	display: table-row;
}

.fields{
	width:100vmin;;
	height: auto;

	margin:auto;

	font-size:1.5vmin;
}

.scoresInfo,.info{
	text-align:center;
	display: table-cell;
	width:29.5vmin;
	vertical-align: top;
}

.scoresInfo{
  background:#5b26af;
	border-radius: 2vmin 0vmin 0vmin 2vmin;
  color:#FFFFFF; 
	
}

.canvas{
	height: 87.8vmin;
}

#canvasId{
	margin:0;
	border:0;
	height: 87.8vmin;
	width:41vmin ;
}

.button{
	width:30vmin;
	height:7vmin;
	font-size:3vmin;
}

.info{
	background:#ffffff;
	color:#000000;
	border-radius: 0vmin 2vmin 2vmin 0vmin;
}

footer{
	background: #353535;
	color:#868686;
	line-height: 4vmin ;
}

#canvasNextFigureId {
  background-color: black;
	height: 12.8vmin;
	width:12.8vmin ;
}

@media screen and (max-width: 390px){
	header,footer{
		display:none;
	}
	.row{
		display: flex;
		flex-direction: column;
		
	}


.info,.scoresInfo{
	width:100%;
	height:14vmin;
	}

	.info{
	order: 2;
	display: flex;
	align-items:center;
	justify-content:space-around;
}
	.canvas{
	order: 3;
	width:100%;
}
	.scoresInfo{
	order: 1;
	height:7vmin;
	display: flex;
	justify-content:center;
}
	#canvasId{
	height: 192%;
	width:100% ;
}
}

